---
import { Image } from "astro:assets";
import schlopStopImg from "../../assets/schlop-logo.png";
import styles from "./pageLogo.module.scss";
---

<div class={styles.pageLogo}>
  <p class={styles.title}>Schlop Stop</p>
  <Image src={schlopStopImg} height={200} width={200} alt="'Schlop Stop Logo" />
</div>
