.menuItem {
  width: 100%;

  // title and price
  & > :first-child {
    display: flex;
    gap: var(--space-lg);

    p {
      // font-family: montserrat;
      font-size: 24px;
      font-weight: 700;
    }

    & > :first-child {
      margin-right: auto;
    }
  }

  // descriptions
  & > :not(:first-child) {
    margin-top: var(--space-md);
    // font-family: Lato;
    font-size: 18px;
    font-weight: 400;
  }
}
