---
import styles from "./menuItem.module.scss";

type Props = {
  title: string;
  price?: string;
  description?: string;
};

const { title, description, price } = Astro.props;
---

<div class={styles.menuItem}>
  <div>
    <p>{title}</p>
    {price && <p>{price}</p>}
  </div>
  <p>{description}</p>
</div>
