.menuSectionOptions {
  & > div {
    display: flex;
    // font-family: Lato;
    font-size: 18px;

    &:first-child {
      margin-bottom: var(--space-md);
    }

    & > :first-child {
      margin-right: auto;
    }

    span {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.price {
  // font-family: montserrat;
  font-weight: bold;
}
