---
import styles from "./menuSectionOptions.module.scss";

// interface Props {
//   title: string;
//   price: string;
// }

// const { title, price } = Astro.props;
---

<div class={styles.menuSectionOptions}>
  <div>
    <p><span>Dressings:</span> Oil+Vinegar / Caesar / Tahini</p>
    <!-- <p>{price}</p> -->
  </div>

  <div>
    <p><span>Dressings:</span> Oil+Vinegar / Caesar / Tahini</p>
    <p>+$3</p>
  </div>
</div>
