.circle {
  width: 34px; // TODO move to props
  height: 34px;
  border-radius: 50%;
  background-color: black; // TODO move to props

  display: flex;
  align-items: center;
  justify-content: center;
}
