---
import { withCache, getMenu } from "../../utils/menu";
import PageSection from "../PageSection.astro";

type MenuItemType = {
  name: string;
  description?: string;
  price?: string;
};

const mockImage =
  "https://images.stockcake.com/public/3/4/5/345b1455-7163-4193-bc6d-783566c3f208_large/majestic-mountain-cow-stockcake.jpg";

const { plates, sandwiches, salads, sides } = await withCache(() =>
  getMenu(import.meta.env.MENU_SHEET_ID)
);
---

<PageSection title="Our Partners">
  <p class="text-center">We partner with local organic growers to serve up hearty, affordable meals made with ingredients you can feel good about—one delicious plate of schlop at a time.</p>

  <img src={mockImage} />
  <img src={mockImage} />
  <img src={mockImage} />
</PageSection>
