---
import Layout from "../layouts/Layout.astro";
import PageLogo from "../components/pageLogo/PageLogo.astro";
import MenuTitle from "../components/menuTitle/MenuTitle.astro";
import MenuSectionTitle from "../components/menuSectionTitle/MenuSectionTitle.astro";
import MenuSectionOptions from "../components/menuSectionOptions/MenuSectionOptions.astro";

import MenuItem from "../components/menuItem/MenuItem.astro";
import styles from "./index.module.scss";
---

<Layout title="Schlop Stop">
  <PageLogo />

  <p class={styles.description}>
    Building community through growing, preparing, and serving nourishment for
    all.
  </p>

  <MenuTitle />

  <MenuSectionTitle title="PLATES" />

  <MenuItem
    title="Falafel Plate"
    descriptions={[
      "Four (4) Falafel balls on Farm Salad, side of Mujadara, topped with Tahini",
    ]}
    price="$13"
  />

  <MenuItem
    title="Falafel Wrap"
    descriptions={[
      "Goat Cheese Mashed Potatoes, Roasted Veggies, Grilled Chicken",
    ]}
    price="$15"
  />

  <MenuItem
    title="Custom Plates"
    descriptions={["Choose 2 sides + 1 salad", "Choose 3 sides + 1 salad"]}
  />

  <MenuItem
    title="Special Plates"
    descriptions={["Weekly special from the farm"]}
    price="**"
  />

  <MenuSectionTitle title="SANDWICHES" />

  <MenuItem
    title="Falafel Wrap"
    descriptions={[
      "4 Falafel balls with lettuce, tomato, onion, and tahini in a pita wrap (make it spicy tahini)",
    ]}
    price="$10"
  />

  <MenuItem
    title="Chicken Sandwich"
    descriptions={[
      "Grilled Chicken, garlic aioli, lettuce, tomato, pickled onion on brioche",
    ]}
    price="$12"
  />

  <MenuItem
    title="Special Sandwich"
    descriptions={["Weekly special from the farm"]}
    price="$13"
  />

  <MenuSectionTitle title="SALADS" />

  <MenuItem
    title="Farm Salad"
    descriptions={["Salad Mix, Seasonal veggies, choose of dressing"]}
    price="$8"
  />

  <MenuItem
    title="Garlic Crunch Salad"
    descriptions={[
      "Salad Mix, Seasonal veggies, granola, dried fruit, garlic olive oil, topped with goat cheese",
    ]}
    price="$10"
  />

  <MenuSectionOptions />

  <MenuSectionTitle title="SIDES" />

  <MenuItem title="Farm Fries" descriptions={["French fries"]} price="$5" />

  <MenuItem
    title="Fried Chicken Thighs"
    descriptions={["5 pieces"]}
    price="$8"
  />

  <MenuItem
    title="Goat Cheese Mashed Potatoes"
    descriptions={[
      "Mashed Potatoes mixed with goat cheese, butter, garlic, and leak",
    ]}
    price="$5"
  />

  <MenuItem
    title="Roasted Veggies"
    descriptions={["Roasted Seasonal Vegetables"]}
    price="$4"
  />

  <MenuItem
    title="Falafel Balls"
    descriptions={["4 balls with a side of tahini"]}
    price="$7"
  />

  <MenuItem
    title="Hummus"
    descriptions={["Small bowl of hummus served with pita"]}
    price="$6"
  />

  <MenuItem
    title="Special Sides"
    descriptions={["Weekly specials from the farm"]}
    price="**"
  />
</Layout>
