.layout {
  // background-color: red;
  // & > * {
  //   margin-left: auto;
  //   margin-right: auto;
  // }
}

.description {
  margin-top: var(--space-lg);
  text-align: center;

  // font-family: Lato;
  font-size: 22px;
  font-weight: 400;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--space-md);

  width: 100%;
  margin: var(--space-xl) 0;
}

.gridElement {
  height: 200px;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4cg5UqHlZ0Ow5931bBzB-dAwqv7sieLHYf3dG4xYQLA&s);
  background-size: cover;
  background-position: center;

  p {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px 12px;
    border-radius: 4px;

    color: white;
    font-size: 32px;
    font-weight: 600;

    transition: transform 0.3s ease;
  }

  &:hover {
    p {
      transform: scale(1.1);
    }
  }
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  > a > :first-child {
    margin: 0 auto;
  }
}
