.title {
  color: var(--red);
}

.menuTitle {
  & > :first-child {
    /* h2 */
    color: var(--red);
    font-family: Cardo;
    font-size: 30px;
    font-weight: 700;
  }

  & > :last-child {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--red);
  }
}

.menuSubsectionTitle {
  color: #000;

  /* h2 */
  font-family: cardo;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
}

.menuItem {
  width: 100%;

  & > :first-child {
    display: flex;

    p {
      font-family: montserrat;
      font-size: 24px;
      font-weight: 700;
    }

    & > :first-child {
      margin-right: auto;
    }
  }

  & > :last-child {
    color: #000;
    font-feature-settings: "clig" off, "liga" off;
    margin-top: var(--thin);

    /* body */
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
  }
}
