$desktopBreak: 800px;

.header {
  background-color: var(--red);
  padding: var(--thin);
  box-shadow: 0px 2px 2px lightgrey; // TODO make this better
}

.nav {
  max-width: var(--header-max-width);
  margin: 0 auto;

  display: flex;
  align-items: center;
  gap: var(--thick);

  color: white;

  & > * {
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.logo {
  margin-right: auto;

  font-family: lobster;
  font-size: 30px;
  font-weight: 400;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; /* Outline effect */
}

.link {
  font-size: 18px;
  font-weight: 400;

  // Hide on mobile
  @media screen and (max-width: $desktopBreak) {
    display: none;
  }
}

.active {
  text-decoration: underline;
}

.icon {
  img {
    height: 50%;
    width: 50%;
  }
}
