$desktopBreak: 800px;

.header {
  background-color: var(--red);
  padding: var(--thin);
}

.nav {
  max-width: var(--content-max-width);
  margin: 0 auto;

  display: flex;
  align-items: center;
  gap: var(--thick);

  overflow: hidden; // TODO fix header overflow
  color: white;

  h1 {
    margin-right: auto;

    font-family: "Lobster", sans-serif;
    font-size: 30px;
    font-weight: 400;
  }
}

.navItem {
  display: flex;
  align-items: center;
  gap: var(--fine);

  text-decoration: none;
  color: white;

  &:hover {
    text-decoration: underline;
  }

  @media screen and (max-width: $desktopBreak) {
    p {
      display: none;
    }
  }
}
