---
import styles from "./header.module.scss";
---

<header class={styles.header}>
  <nav class={styles.nav}>
    <h1>schlop stop</h1>
    <a>contact@schlopstop.com</a>
    <a>215-756-1916</a>
  </nav>
</header>
