.header {
  width: 100vw;
  background-color: lightblue;
}

.nav {
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: var(--thick);

  display: flex;
  align-items: center;
  gap: var(--thick);

  h1 {
    margin-right: auto;

    color: var(--white, #f7f7f7);
    font-family: High Tide - Demo;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
