:root {
  --black: black;
  --white: white;
  --red: #c24040;
  --wheat: #f5ebd8;

  --header-max-width: 1200px;
  --content-max-width: 800px;
  --border-radius: 2px;

  --fine: 8px;
  --thin: 12px;
  --thick: 24px;

  --font-size-lg: 2rem;
  --font-size-md: 1.6rem;
  --font-size-sm: 1.2rem;
  --font-size-xs: 0.8rem;
}

html,
body {
  height: 100%; // can't be 100vh because of mobile browser UI
  background-color: var(--wheat);
}

body {
  font-size: var(--font-size-sm);
  font-family: lato;
  margin: 0;

  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  overflow: scroll;
  padding: var(--thin);
}

// scroll container
main > div {
  max-width: var(--content-max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--thick);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: inherit;
  color: inherit;
}

// main > * {
//   max-width: var(--content-max-width);
// }
