:root {
  --black: black;
  --white: white;
  --red: #c24040;
  --wheat: #f5ebd8;

  --header-max-width: 1200px;
  --header-height: 60px;
  --content-max-width: 800px;
  --desktop-break: 900px;

  --font-xl: 3rem;
  --font-lg: 2.2rem;
  --font-md: 1.6rem;
  --font-sm: 1.2rem;
  --font-xs: 0.8rem;

  // fibonacci
  --space-xs: 5px;
  --space-sm: 8px;
  --space-md: 13px;
  --space-lg: 21px;
  --space-xl: 34px;
  --space-xxl: 55px;

  --border-radius: 2px;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--wheat);
  color: var(--black);
  font-size: var(--font-sm);
  font-family: lato;
}

body {
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: inherit;
  color: inherit;
}
